<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DON BOSCO TECHNICAL COLLEGE </title>
    <script type="importmap"></script>
    <link rel="shortcut icon" href="images/favicon.ico" />
	<link rel="stylesheet" href="~/css/global.css" />
    <link rel="stylesheet" href="~/css/sidebar.css" />
    @RenderSection("Styles", required: false)

</head>
<body>
<!--Sidebar-->
    <div class="sidebar">
        <div class="logo">
            <div class="logo-title">DBTC ATTENDANCE</div>
        </div>
            <div class="menu-section">MAIN
            <a href="/" class="nav-item @(ViewData["ActivePage"]?.ToString() == "Dashboard" ? "active" : "")">Dashboard</a>
            <a href="/Student" class="nav-item @(ViewData["ActivePage"]?.ToString() == "Students" ? "active" : "")">Students</a>
            <a href="/Attendance" class="nav-item @(ViewData["ActivePage"]?.ToString() == "Attendance" ? "active" : "")">Attendance</a>
            <a href="/Teacher" class="nav-item @(ViewData["ActivePage"]?.ToString() == "Teachers" ? "active" : "")">Teachers</a>
            <a href="/Course" class="nav-item @(ViewData["ActivePage"]?.ToString() == "Courses" ? "active" : "")">Courses</a>
          </div>     
    </div>
    <!-- MAIN CONTENT -->
    <div class="main-wrapper">
        <div class="topbar">
            <div class="page-title">@ViewData["Title"]</div>
            <div class="topbar-right">
                <span class="topbar-date" id="topbar-date"></span>
                <div class="avatar">DOM</div>
            </div>
        </div>

        <div class="content">
            @if (TempData["SuccessMessage"] != null)
            {
                <div class="alert alert-success">@TempData["SuccessMessage"]</div>
            }
            @if (TempData["ErrorMessage"] != null)
            {
                <div class="alert alert-danger">@TempData["ErrorMessage"]</div>
            }

            @RenderBody()
        </div>
    </div>

    <footer class="border-top footer text-muted">
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
